@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background: linear-gradient(to right, rgba(5, 104, 190, 0.781), rgba(175, 195, 236, 0.9)) ;
}
#title {
 
  color: black;
  font-size: 80px;
  padding: 70px;
}
#img-div {
  margin: -50px auto 50px auto;
}
#image {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border-radius: 8%; 
  box-shadow: 5px 10px 18px #1b1b1d;
  transform: scale(.80);
}
#img-caption {
  margin: auto 20%;
  font-size: 20px;
}
#tribute-info {
  background-color: #f7f7f7;
  color: black;
  padding: 50px 200px;
  text-align: left;
  line-height: 1.5;
  border-radius: 1.5%;
}
h3 {
  text-align: center;
  font-size: 15px;
}
hr {
  width: 70%;
  border: 1px solid black ;
  border-bottom: none;
}

footer {
  font-size: 15px;
  padding: 20px 70px;
}

#tribute-link #source {
  font-family: 'Nunito', monospace,sans-serif;
  font-size: 15px;
}

@media screen and (max-width:1000px) {
  #tribute-info {
    padding: 5%;
  }
}
